In [74]:
import pandas as pd                      #144803
import numpy as np
import matplotlib.pyplot as plt
test=pd.read_csv('test.csv')
train=pd.read_csv('train.csv')    #trains and train
trains=train
store =pd.read_csv('store.csv')
y_train=train.iloc[:,3].values
train=train.drop('Sales',axis=1)


all_data=pd.concat([train,test],axis=0)
final_data=all_data.join(store.set_index('Store'),on='Store')
trains=trains.join(store.set_index('Store'),on='Store')
print (final_data[(final_data['Open']==0) & (final_data['Store']==622)])

C:\Users\Shikhar\AppData\Local\conda\conda\envs\my_root\lib\site-packages\IPython\core\interactiveshell.py:2717: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

         Customers        Date  DayOfWeek       Id  Open  Promo  \
6196           0.0  2015-07-26          7      NaN   0.0      0
14001          0.0  2015-07-19          7      NaN   0.0      0
21806          0.0  2015-07-12          7      NaN   0.0      0
29611          0.0  2015-07-05          7      NaN   0.0      0
37416          0.0  2015-06-28          7      NaN   0.0      0
45221          0.0  2015-06-21          7      NaN   0.0      0
53026          0.0  2015-06-14          7      NaN   0.0      0
60831          0.0  2015-06-07          7      NaN   0.0      0
68636          0.0  2015-05-31          7      NaN   0.0      0
75326          0.0  2015-05-25          1      NaN   0.0      0
76441          0.0  2015-05-24          7      NaN   0.0      0
84246          0.0  2015-05-17          7      NaN   0.0      0
87591          0.0  2015-05-14          4      NaN   0.0      0
92051          0.0  2015-05-10          7      NaN   0.0      0
99856          0.0  2015-05-03          7      NaN   0.0      0
102086         0.0  2015-05-01          5      NaN   0.0      1
107661         0.0  2015-04-26          7      NaN   0.0      0
115466         0.0  2015-04-19          7      NaN   0.0      0
123271         0.0  2015-04-12          7      NaN   0.0      0
129961         0.0  2015-04-06          1      NaN   0.0      0
131076         0.0  2015-04-05          7      NaN   0.0      0
133306         0.0  2015-04-03          5      NaN   0.0      1
138881         0.0  2015-03-29          7      NaN   0.0      0
146686         0.0  2015-03-22          7      NaN   0.0      0
154491         0.0  2015-03-15          7      NaN   0.0      0
162296         0.0  2015-03-08          7      NaN   0.0      0
170101         0.0  2015-03-01          7      NaN   0.0      0
177906         0.0  2015-02-22          7      NaN   0.0      0
185711         0.0  2015-02-15          7      NaN   0.0      0
193516         0.0  2015-02-08          7      NaN   0.0      0
...            ...         ...        ...      ...   ...    ...
873996         0.0  2013-05-09          4      NaN   0.0      0
878456         0.0  2013-05-05          7      NaN   0.0      0
882916         0.0  2013-05-01          3      NaN   0.0      1
886261         0.0  2013-04-28          7      NaN   0.0      0
894066         0.0  2013-04-21          7      NaN   0.0      0
901871         0.0  2013-04-14          7      NaN   0.0      0
909676         0.0  2013-04-07          7      NaN   0.0      0
916366         0.0  2013-04-01          1      NaN   0.0      0
917481         0.0  2013-03-31          7      NaN   0.0      0
919711         0.0  2013-03-29          5      NaN   0.0      1
925286         0.0  2013-03-24          7      NaN   0.0      0
933091         0.0  2013-03-17          7      NaN   0.0      0
940896         0.0  2013-03-10          7      NaN   0.0      0
948701         0.0  2013-03-03          7      NaN   0.0      0
956506         0.0  2013-02-24          7      NaN   0.0      0
964311         0.0  2013-02-17          7      NaN   0.0      0
972116         0.0  2013-02-10          7      NaN   0.0      0
979921         0.0  2013-02-03          7      NaN   0.0      0
987726         0.0  2013-01-27          7      NaN   0.0      0
995531         0.0  2013-01-20          7      NaN   0.0      0
1003336        0.0  2013-01-13          7      NaN   0.0      0
1011141        0.0  2013-01-06          7      NaN   0.0      0
1016716        0.0  2013-01-01          2      NaN   0.0      0
3903           NaN  2015-09-13          7   3904.0   0.0      0
9895           NaN  2015-09-06          7   9896.0   0.0      0
15887          NaN  2015-08-30          7  15888.0   0.0      0
21879          NaN  2015-08-23          7  21880.0   0.0      0
27871          NaN  2015-08-16          7  27872.0   0.0      0
33863          NaN  2015-08-09          7  33864.0   0.0      0
39855          NaN  2015-08-02          7  39856.0   0.0      0

         SchoolHoliday StateHoliday  Store StoreType Assortment  \
6196                 0            0    622         a          c
14001                0            0    622         a          c
21806                0            0    622         a          c
29611                0            0    622         a          c
37416                0            0    622         a          c
45221                0            0    622         a          c
53026                0            0    622         a          c
60831                0            0    622         a          c
68636                0            0    622         a          c
75326                0            a    622         a          c
76441                0            0    622         a          c
84246                0            0    622         a          c
87591                0            a    622         a          c
92051                0            0    622         a          c
99856                0            0    622         a          c
102086               0            a    622         a          c
107661               0            0    622         a          c
115466               0            0    622         a          c
123271               0            0    622         a          c
129961               1            b    622         a          c
131076               0            0    622         a          c
133306               1            b    622         a          c
138881               0            0    622         a          c
146686               0            0    622         a          c
154491               0            0    622         a          c
162296               0            0    622         a          c
170101               0            0    622         a          c
177906               0            0    622         a          c
185711               0            0    622         a          c
193516               0            0    622         a          c
...                ...          ...    ...       ...        ...
873996               0            a    622         a          c
878456               0            0    622         a          c
882916               0            a    622         a          c
886261               0            0    622         a          c
894066               0            0    622         a          c
901871               0            0    622         a          c
909676               0            0    622         a          c
916366               1            b    622         a          c
917481               0            0    622         a          c
919711               1            b    622         a          c
925286               0            0    622         a          c
933091               0            0    622         a          c
940896               0            0    622         a          c
948701               0            0    622         a          c
956506               0            0    622         a          c
964311               0            0    622         a          c
972116               0            0    622         a          c
979921               0            0    622         a          c
987726               0            0    622         a          c
995531               0            0    622         a          c
1003336              0            0    622         a          c
1011141              0            0    622         a          c
1016716              1            a    622         a          c
3903                 0            0    622         a          c
9895                 0            0    622         a          c
15887                0            0    622         a          c
21879                0            0    622         a          c
27871                0            0    622         a          c
33863                0            0    622         a          c
39855                0            0    622         a          c

         CompetitionDistance  CompetitionOpenSinceMonth  \
6196                     NaN                        NaN
14001                    NaN                        NaN
21806                    NaN                        NaN
29611                    NaN                        NaN
37416                    NaN                        NaN
45221                    NaN                        NaN
53026                    NaN                        NaN
60831                    NaN                        NaN
68636                    NaN                        NaN
75326                    NaN                        NaN
76441                    NaN                        NaN
84246                    NaN                        NaN
87591                    NaN                        NaN
92051                    NaN                        NaN
99856                    NaN                        NaN
102086                   NaN                        NaN
107661                   NaN                        NaN
115466                   NaN                        NaN
123271                   NaN                        NaN
129961                   NaN                        NaN
131076                   NaN                        NaN
133306                   NaN                        NaN
138881                   NaN                        NaN
146686                   NaN                        NaN
154491                   NaN                        NaN
162296                   NaN                        NaN
170101                   NaN                        NaN
177906                   NaN                        NaN
185711                   NaN                        NaN
193516                   NaN                        NaN
...                      ...                        ...
873996                   NaN                        NaN
878456                   NaN                        NaN
882916                   NaN                        NaN
886261                   NaN                        NaN
894066                   NaN                        NaN
901871                   NaN                        NaN
909676                   NaN                        NaN
916366                   NaN                        NaN
917481                   NaN                        NaN
919711                   NaN                        NaN
925286                   NaN                        NaN
933091                   NaN                        NaN
940896                   NaN                        NaN
948701                   NaN                        NaN
956506                   NaN                        NaN
964311                   NaN                        NaN
972116                   NaN                        NaN
979921                   NaN                        NaN
987726                   NaN                        NaN
995531                   NaN                        NaN
1003336                  NaN                        NaN
1011141                  NaN                        NaN
1016716                  NaN                        NaN
3903                     NaN                        NaN
9895                     NaN                        NaN
15887                    NaN                        NaN
21879                    NaN                        NaN
27871                    NaN                        NaN
33863                    NaN                        NaN
39855                    NaN                        NaN

         CompetitionOpenSinceYear  Promo2  Promo2SinceWeek  Promo2SinceYear  \
6196                          NaN       0              NaN              NaN
14001                         NaN       0              NaN              NaN
21806                         NaN       0              NaN              NaN
29611                         NaN       0              NaN              NaN
37416                         NaN       0              NaN              NaN
45221                         NaN       0              NaN              NaN
53026                         NaN       0              NaN              NaN
60831                         NaN       0              NaN              NaN
68636                         NaN       0              NaN              NaN
75326                         NaN       0              NaN              NaN
76441                         NaN       0              NaN              NaN
84246                         NaN       0              NaN              NaN
87591                         NaN       0              NaN              NaN
92051                         NaN       0              NaN              NaN
99856                         NaN       0              NaN              NaN
102086                        NaN       0              NaN              NaN
107661                        NaN       0              NaN              NaN
115466                        NaN       0              NaN              NaN
123271                        NaN       0              NaN              NaN
129961                        NaN       0              NaN              NaN
131076                        NaN       0              NaN              NaN
133306                        NaN       0              NaN              NaN
138881                        NaN       0              NaN              NaN
146686                        NaN       0              NaN              NaN
154491                        NaN       0              NaN              NaN
162296                        NaN       0              NaN              NaN
170101                        NaN       0              NaN              NaN
177906                        NaN       0              NaN              NaN
185711                        NaN       0              NaN              NaN
193516                        NaN       0              NaN              NaN
...                           ...     ...              ...              ...
873996                        NaN       0              NaN              NaN
878456                        NaN       0              NaN              NaN
882916                        NaN       0              NaN              NaN
886261                        NaN       0              NaN              NaN
894066                        NaN       0              NaN              NaN
901871                        NaN       0              NaN              NaN
909676                        NaN       0              NaN              NaN
916366                        NaN       0              NaN              NaN
917481                        NaN       0              NaN              NaN
919711                        NaN       0              NaN              NaN
925286                        NaN       0              NaN              NaN
933091                        NaN       0              NaN              NaN
940896                        NaN       0              NaN              NaN
948701                        NaN       0              NaN              NaN
956506                        NaN       0              NaN              NaN
964311                        NaN       0              NaN              NaN
972116                        NaN       0              NaN              NaN
979921                        NaN       0              NaN              NaN
987726                        NaN       0              NaN              NaN
995531                        NaN       0              NaN              NaN
1003336                       NaN       0              NaN              NaN
1011141                       NaN       0              NaN              NaN
1016716                       NaN       0              NaN              NaN
3903                          NaN       0              NaN              NaN
9895                          NaN       0              NaN              NaN
15887                         NaN       0              NaN              NaN
21879                         NaN       0              NaN              NaN
27871                         NaN       0              NaN              NaN
33863                         NaN       0              NaN              NaN
39855                         NaN       0              NaN              NaN

        PromoInterval
6196              NaN
14001             NaN
21806             NaN
29611             NaN
37416             NaN
45221             NaN
53026             NaN
60831             NaN
68636             NaN
75326             NaN
76441             NaN
84246             NaN
87591             NaN
92051             NaN
99856             NaN
102086            NaN
107661            NaN
115466            NaN
123271            NaN
129961            NaN
131076            NaN
133306            NaN
138881            NaN
146686            NaN
154491            NaN
162296            NaN
170101            NaN
177906            NaN
185711            NaN
193516            NaN
...               ...
873996            NaN
878456            NaN
882916            NaN
886261            NaN
894066            NaN
901871            NaN
909676            NaN
916366            NaN
917481            NaN
919711            NaN
925286            NaN
933091            NaN
940896            NaN
948701            NaN
956506            NaN
964311            NaN
972116            NaN
979921            NaN
987726            NaN
995531            NaN
1003336           NaN
1011141           NaN
1016716           NaN
3903              NaN
9895              NaN
15887             NaN
21879             NaN
27871             NaN
33863             NaN
39855             NaN

[165 rows x 18 columns]

In [75]:
#final_data['year'] = final_data.Date.apply(lambda x: x.year)
#final_data['month'] = final_data.Date.apply(lambda x: x.month)
print (train.Date.iloc[10])
year=[]
month=[]
day=[]
from datetime import datetime
for i in range(len(train)):
    
    d = datetime.strptime(str(train.Date.iloc[i]),"%Y-%m-%d")
    year.append(d.year)
    day.append(d.day)
    month.append(d.month)

    
trains['Year']=year
trains['Month']=month
trains['Day']=day


year1=[]
month1=[]
day1=[]

for i in range(len(test)):
    
    d = datetime.strptime(str(test.Date.iloc[i]),"%Y-%m-%d")
    year1.append(d.year)
    day1.append(d.day)
    month1.append(d.month)

for i in range(len(year1)):
    year.append(year1[i])
    month.append(month1[i])
    day.append(day1[i])
    



final_data['Year']=year
final_data['Month']=month
final_data['Day']=day
final_data.info()


#final_data=final_data.drop(['Day','Id','Customers'],axis=1)
#trains=trains.drop(['Day'],axis=1)



final_data.fillna(final_data["Open"].mode(), inplace=True)

2015-07-31
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1058297 entries, 0 to 41087
Data columns (total 21 columns):
Customers                    1017209 non-null float64
Date                         1058297 non-null object
DayOfWeek                    1058297 non-null int64
Id                           41088 non-null float64
Open                         1058286 non-null float64
Promo                        1058297 non-null int64
SchoolHoliday                1058297 non-null int64
StateHoliday                 1058297 non-null object
Store                        1058297 non-null int64
StoreType                    1058297 non-null object
Assortment                   1058297 non-null object
CompetitionDistance          1055559 non-null float64
CompetitionOpenSinceMonth    719733 non-null float64
CompetitionOpenSinceYear     719733 non-null float64
Promo2                       1058297 non-null int64
Promo2SinceWeek              533034 non-null float64
Promo2SinceYear              533034 non-null float64
PromoInterval                533034 non-null object
Year                         1058297 non-null int64
Month                        1058297 non-null int64
Day                          1058297 non-null int64
dtypes: float64(8), int64(8), object(5)
memory usage: 177.6+ MB

,Customers,Date,DayOfWeek,Id,Open,Promo,SchoolHoliday,StateHoliday,Store,StoreType,...,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval,Year,Month,Day
0,555.0,2015-07-31,5,NaN,1.0,1,1,0,1,c,...,1270.0,9.0,2008.0,0,NaN,NaN,NaN,2015,7,31
1,625.0,2015-07-31,5,NaN,1.0,1,1,0,2,a,...,570.0,11.0,2007.0,1,13.0,2010.0,"Jan,Apr,Jul,Oct",2015,7,31
2,821.0,2015-07-31,5,NaN,1.0,1,1,0,3,a,...,14130.0,12.0,2006.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct",2015,7,31
3,1498.0,2015-07-31,5,NaN,1.0,1,1,0,4,c,...,620.0,9.0,2009.0,0,NaN,NaN,NaN,2015,7,31
4,559.0,2015-07-31,5,NaN,1.0,1,1,0,5,a,...,29910.0,4.0,2015.0,0,NaN,NaN,NaN,2015,7,31
5,589.0,2015-07-31,5,NaN,1.0,1,1,0,6,a,...,310.0,12.0,2013.0,0,NaN,NaN,NaN,2015,7,31
6,1414.0,2015-07-31,5,NaN,1.0,1,1,0,7,a,...,24000.0,4.0,2013.0,0,NaN,NaN,NaN,2015,7,31
7,833.0,2015-07-31,5,NaN,1.0,1,1,0,8,a,...,7520.0,10.0,2014.0,0,NaN,NaN,NaN,2015,7,31
8,687.0,2015-07-31,5,NaN,1.0,1,1,0,9,a,...,2030.0,8.0,2000.0,0,NaN,NaN,NaN,2015,7,31
9,681.0,2015-07-31,5,NaN,1.0,1,1,0,10,a,...,3160.0,9.0,2009.0,0,NaN,NaN,NaN,2015,7,31
10,1236.0,2015-07-31,5,NaN,1.0,1,1,0,11,a,...,960.0,11.0,2011.0,1,1.0,2012.0,"Jan,Apr,Jul,Oct",2015,7,31
11,962.0,2015-07-31,5,NaN,1.0,1,1,0,12,a,...,1070.0,NaN,NaN,1,13.0,2010.0,"Jan,Apr,Jul,Oct",2015,7,31
12,568.0,2015-07-31,5,NaN,1.0,1,0,0,13,d,...,310.0,NaN,NaN,1,45.0,2009.0,"Feb,May,Aug,Nov",2015,7,31
13,710.0,2015-07-31,5,NaN,1.0,1,1,0,14,a,...,1300.0,3.0,2014.0,1,40.0,2011.0,"Jan,Apr,Jul,Oct",2015,7,31
14,766.0,2015-07-31,5,NaN,1.0,1,1,0,15,d,...,4110.0,3.0,2010.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct",2015,7,31
15,979.0,2015-07-31,5,NaN,1.0,1,1,0,16,a,...,3270.0,NaN,NaN,0,NaN,NaN,NaN,2015,7,31
16,946.0,2015-07-31,5,NaN,1.0,1,1,0,17,a,...,50.0,12.0,2005.0,1,26.0,2010.0,"Jan,Apr,Jul,Oct",2015,7,31
17,936.0,2015-07-31,5,NaN,1.0,1,1,0,18,d,...,13840.0,6.0,2010.0,1,14.0,2012.0,"Jan,Apr,Jul,Oct",2015,7,31
18,718.0,2015-07-31,5,NaN,1.0,1,1,0,19,a,...,3240.0,NaN,NaN,1,22.0,2011.0,"Mar,Jun,Sept,Dec",2015,7,31
19,974.0,2015-07-31,5,NaN,1.0,1,0,0,20,d,...,2340.0,5.0,2009.0,1,40.0,2014.0,"Jan,Apr,Jul,Oct",2015,7,31
20,682.0,2015-07-31,5,NaN,1.0,1,1,0,21,c,...,550.0,10.0,1999.0,1,45.0,2009.0,"Jan,Apr,Jul,Oct",2015,7,31
21,633.0,2015-07-31,5,NaN,1.0,1,0,0,22,a,...,1040.0,NaN,NaN,1,22.0,2012.0,"Jan,Apr,Jul,Oct",2015,7,31
22,560.0,2015-07-31,5,NaN,1.0,1,1,0,23,d,...,4060.0,8.0,2005.0,0,NaN,NaN,NaN,2015,7,31
23,1082.0,2015-07-31,5,NaN,1.0,1,1,0,24,a,...,4590.0,3.0,2000.0,1,40.0,2011.0,"Jan,Apr,Jul,Oct",2015,7,31
24,1586.0,2015-07-31,5,NaN,1.0,1,1,0,25,c,...,430.0,4.0,2003.0,0,NaN,NaN,NaN,2015,7,31
25,611.0,2015-07-31,5,NaN,1.0,1,1,0,26,d,...,2300.0,NaN,NaN,0,NaN,NaN,NaN,2015,7,31
26,1263.0,2015-07-31,5,NaN,1.0,1,1,0,27,a,...,60.0,1.0,2005.0,1,5.0,2011.0,"Jan,Apr,Jul,Oct",2015,7,31
27,663.0,2015-07-31,5,NaN,1.0,1,1,0,28,a,...,1200.0,10.0,2014.0,1,6.0,2015.0,"Mar,Jun,Sept,Dec",2015,7,31
28,737.0,2015-07-31,5,NaN,1.0,1,1,0,29,d,...,2170.0,NaN,NaN,0,NaN,NaN,NaN,2015,7,31
29,625.0,2015-07-31,5,NaN,1.0,1,1,0,30,a,...,40.0,2.0,2014.0,1,10.0,2014.0,"Mar,Jun,Sept,Dec",2015,7,31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41058,NaN,2015-08-01,6,41059.0,1.0,0,0,0,1077,a,...,3750.0,11.0,2001.0,1,35.0,2010.0,"Mar,Jun,Sept,Dec",2015,8,1
41059,NaN,2015-08-01,6,41060.0,1.0,0,0,0,1078,d,...,670.0,NaN,NaN,1,40.0,2011.0,"Jan,Apr,Jul,Oct",2015,8,1
41060,NaN,2015-08-01,6,41061.0,1.0,0,1,0,1079,a,...,16680.0,NaN,NaN,1,37.0,2009.0,"Jan,Apr,Jul,Oct",2015,8,1
41061,NaN,2015-08-01,6,41062.0,1.0,0,0,0,1080,a,...,2410.0,NaN,NaN,1,40.0,2014.0,"Jan,Apr,Jul,Oct",2015,8,1
41062,NaN,2015-08-01,6,41063.0,1.0,0,1,0,1083,d,...,11540.0,NaN,NaN,1,5.0,2013.0,"Feb,May,Aug,Nov",2015,8,1
41063,NaN,2015-08-01,6,41064.0,1.0,0,1,0,1084,a,...,190.0,NaN,NaN,1,13.0,2010.0,"Jan,Apr,Jul,Oct",2015,8,1
41064,NaN,2015-08-01,6,41065.0,1.0,0,1,0,1086,a,...,180.0,11.0,2013.0,1,18.0,2011.0,"Feb,May,Aug,Nov",2015,8,1
41065,NaN,2015-08-01,6,41066.0,1.0,0,1,0,1087,d,...,2210.0,11.0,2011.0,0,NaN,NaN,NaN,2015,8,1
41066,NaN,2015-08-01,6,41067.0,1.0,0,0,0,1088,a,...,4300.0,3.0,2009.0,1,27.0,2013.0,"Jan,Apr,Jul,Oct",2015,8,1
41067,NaN,2015-08-01,6,41068.0,1.0,0,0,0,1089,d,...,5220.0,5.0,2009.0,0,NaN,NaN,NaN,2015,8,1
41068,NaN,2015-08-01,6,41069.0,1.0,0,0,0,1091,a,...,9990.0,NaN,NaN,0,NaN,NaN,NaN,2015,8,1
41069,NaN,2015-08-01,6,41070.0,1.0,0,0,0,1092,a,...,300.0,7.0,2000.0,1,40.0,2014.0,"Jan,Apr,Jul,Oct",2015,8,1
41070,NaN,2015-08-01,6,41071.0,1.0,0,0,0,1094,d,...,2380.0,3.0,2013.0,1,40.0,2014.0,"Jan,Apr,Jul,Oct",2015,8,1
41071,NaN,2015-08-01,6,41072.0,1.0,0,0,0,1096,a,...,1130.0,NaN,NaN,1,10.0,2014.0,"Mar,Jun,Sept,Dec",2015,8,1
41072,NaN,2015-08-01,6,41073.0,1.0,0,0,0,1097,b,...,720.0,3.0,2002.0,0,NaN,NaN,NaN,2015,8,1
41073,NaN,2015-08-01,6,41074.0,1.0,0,0,0,1099,a,...,200.0,4.0,2013.0,1,14.0,2013.0,"Jan,Apr,Jul,Oct",2015,8,1
41074,NaN,2015-08-01,6,41075.0,1.0,0,0,0,1100,a,...,540.0,NaN,NaN,1,14.0,2011.0,"Jan,Apr,Jul,Oct",2015,8,1
41075,NaN,2015-08-01,6,41076.0,1.0,0,0,0,1101,d,...,4060.0,9.0,2012.0,0,NaN,NaN,NaN,2015,8,1
41076,NaN,2015-08-01,6,41077.0,1.0,0,0,0,1102,a,...,850.0,11.0,2012.0,1,40.0,2014.0,"Jan,Apr,Jul,Oct",2015,8,1
41077,NaN,2015-08-01,6,41078.0,1.0,0,1,0,1103,d,...,1340.0,10.0,2006.0,1,5.0,2013.0,"Feb,May,Aug,Nov",2015,8,1
41078,NaN,2015-08-01,6,41079.0,1.0,0,0,0,1104,d,...,260.0,2.0,2012.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct",2015,8,1
41079,NaN,2015-08-01,6,41080.0,1.0,0,0,0,1105,c,...,330.0,11.0,2008.0,1,5.0,2013.0,"Feb,May,Aug,Nov",2015,8,1
41080,NaN,2015-08-01,6,41081.0,1.0,0,0,0,1106,a,...,5330.0,9.0,2011.0,1,31.0,2013.0,"Jan,Apr,Jul,Oct",2015,8,1
41081,NaN,2015-08-01,6,41082.0,1.0,0,0,0,1107,a,...,1400.0,6.0,2012.0,1,13.0,2010.0,"Jan,Apr,Jul,Oct",2015,8,1
41082,NaN,2015-08-01,6,41083.0,1.0,0,0,0,1109,c,...,3490.0,4.0,2011.0,1,22.0,2012.0,"Jan,Apr,Jul,Oct",2015,8,1
41083,NaN,2015-08-01,6,41084.0,1.0,0,0,0,1111,a,...,1900.0,6.0,2014.0,1,31.0,2013.0,"Jan,Apr,Jul,Oct",2015,8,1
41084,NaN,2015-08-01,6,41085.0,1.0,0,0,0,1112,c,...,1880.0,4.0,2006.0,0,NaN,NaN,NaN,2015,8,1
41085,NaN,2015-08-01,6,41086.0,1.0,0,0,0,1113,a,...,9260.0,NaN,NaN,0,NaN,NaN,NaN,2015,8,1
41086,NaN,2015-08-01,6,41087.0,1.0,0,0,0,1114,a,...,870.0,NaN,NaN,0,NaN,NaN,NaN,2015,8,1
41087,NaN,2015-08-01,6,41088.0,1.0,0,1,0,1115,d,...,5350.0,NaN,NaN,1,22.0,2012.0,"Mar,Jun,Sept,Dec",2015,8,1

In [76]:
final_data['Open'].fillna(1,inplace=True)
test['Open'].fillna(1, inplace=True)  #all missing values are from store 622 which is open all day except day 7

In [77]:
print (final_data.isnull().sum())

Customers                      41088
Date                               0
DayOfWeek                          0
Id                           1017209
Open                               0
Promo                              0
SchoolHoliday                      0
StateHoliday                       0
Store                              0
StoreType                          0
Assortment                         0
CompetitionDistance             2738
CompetitionOpenSinceMonth     338564
CompetitionOpenSinceYear      338564
Promo2                             0
Promo2SinceWeek               525263
Promo2SinceYear               525263
PromoInterval                 525263
Year                               0
Month                              0
Day                                0
dtype: int64

In [78]:
import missingno as msno
msno.matrix(store)

In [79]:
final_data['CompetitionDistance'].fillna(final_data['CompetitionDistance'].mean(),inplace=True)
trains['CompetitionDistance'].fillna(trains['CompetitionDistance'].mean(),inplace=True)

In [80]:
print (final_data.isnull().sum())

Customers                      41088
Date                               0
DayOfWeek                          0
Id                           1017209
Open                               0
Promo                              0
SchoolHoliday                      0
StateHoliday                       0
Store                              0
StoreType                          0
Assortment                         0
CompetitionDistance                0
CompetitionOpenSinceMonth     338564
CompetitionOpenSinceYear      338564
Promo2                             0
Promo2SinceWeek               525263
Promo2SinceYear               525263
PromoInterval                 525263
Year                               0
Month                              0
Day                                0
dtype: int64

In [81]:
print (final_data.Promo2.value_counts())

1    533034
0    525263
Name: Promo2, dtype: int64

In [82]:
final_data['Promo2SinceWeek'].loc[final_data['Promo2']==0]=0
final_data['Promo2SinceYear'].loc[final_data['Promo2']==0]=0
final_data['PromoInterval'].loc[final_data['Promo2']==0]=0

trains['Promo2SinceWeek'].loc[trains['Promo2']==0]=0
trains['Promo2SinceYear'].loc[trains['Promo2']==0]=0
trains['PromoInterval'].loc[trains['Promo2']==0]=0

C:\Users\Shikhar\AppData\Local\conda\conda\envs\my_root\lib\site-packages\pandas\core\indexing.py:179: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [83]:
print (final_data.isnull().sum())

Customers                      41088
Date                               0
DayOfWeek                          0
Id                           1017209
Open                               0
Promo                              0
SchoolHoliday                      0
StateHoliday                       0
Store                              0
StoreType                          0
Assortment                         0
CompetitionDistance                0
CompetitionOpenSinceMonth     338564
CompetitionOpenSinceYear      338564
Promo2                             0
Promo2SinceWeek                    0
Promo2SinceYear                    0
PromoInterval                      0
Year                               0
Month                              0
Day                                0
dtype: int64

In [84]:
trains.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1017209 entries, 0 to 1017208
Data columns (total 21 columns):
Store                        1017209 non-null int64
DayOfWeek                    1017209 non-null int64
Date                         1017209 non-null object
Sales                        1017209 non-null int64
Customers                    1017209 non-null int64
Open                         1017209 non-null int64
Promo                        1017209 non-null int64
StateHoliday                 1017209 non-null object
SchoolHoliday                1017209 non-null int64
StoreType                    1017209 non-null object
Assortment                   1017209 non-null object
CompetitionDistance          1017209 non-null float64
CompetitionOpenSinceMonth    693861 non-null float64
CompetitionOpenSinceYear     693861 non-null float64
Promo2                       1017209 non-null int64
Promo2SinceWeek              1017209 non-null float64
Promo2SinceYear              1017209 non-null float64
PromoInterval                1017209 non-null object
Year                         1017209 non-null int64
Month                        1017209 non-null int64
Day                          1017209 non-null int64
dtypes: float64(5), int64(11), object(5)
memory usage: 163.0+ MB

In [85]:
trains=trains.drop(['Date','Sales'],axis=1)
final_data=final_data.drop(['Customers','Date','Id'],axis=1)
print (final_data)

       DayOfWeek  Open  Promo  SchoolHoliday StateHoliday  Store StoreType  \
0              5   1.0      1              1            0      1         c
1              5   1.0      1              1            0      2         a
2              5   1.0      1              1            0      3         a
3              5   1.0      1              1            0      4         c
4              5   1.0      1              1            0      5         a
5              5   1.0      1              1            0      6         a
6              5   1.0      1              1            0      7         a
7              5   1.0      1              1            0      8         a
8              5   1.0      1              1            0      9         a
9              5   1.0      1              1            0     10         a
10             5   1.0      1              1            0     11         a
11             5   1.0      1              1            0     12         a
12             5   1.0      1              0            0     13         d
13             5   1.0      1              1            0     14         a
14             5   1.0      1              1            0     15         d
15             5   1.0      1              1            0     16         a
16             5   1.0      1              1            0     17         a
17             5   1.0      1              1            0     18         d
18             5   1.0      1              1            0     19         a
19             5   1.0      1              0            0     20         d
20             5   1.0      1              1            0     21         c
21             5   1.0      1              0            0     22         a
22             5   1.0      1              1            0     23         d
23             5   1.0      1              1            0     24         a
24             5   1.0      1              1            0     25         c
25             5   1.0      1              1            0     26         d
26             5   1.0      1              1            0     27         a
27             5   1.0      1              1            0     28         a
28             5   1.0      1              1            0     29         d
29             5   1.0      1              1            0     30         a
...          ...   ...    ...            ...          ...    ...       ...
41058          6   1.0      0              0            0   1077         a
41059          6   1.0      0              0            0   1078         d
41060          6   1.0      0              1            0   1079         a
41061          6   1.0      0              0            0   1080         a
41062          6   1.0      0              1            0   1083         d
41063          6   1.0      0              1            0   1084         a
41064          6   1.0      0              1            0   1086         a
41065          6   1.0      0              1            0   1087         d
41066          6   1.0      0              0            0   1088         a
41067          6   1.0      0              0            0   1089         d
41068          6   1.0      0              0            0   1091         a
41069          6   1.0      0              0            0   1092         a
41070          6   1.0      0              0            0   1094         d
41071          6   1.0      0              0            0   1096         a
41072          6   1.0      0              0            0   1097         b
41073          6   1.0      0              0            0   1099         a
41074          6   1.0      0              0            0   1100         a
41075          6   1.0      0              0            0   1101         d
41076          6   1.0      0              0            0   1102         a
41077          6   1.0      0              1            0   1103         d
41078          6   1.0      0              0            0   1104         d
41079          6   1.0      0              0            0   1105         c
41080          6   1.0      0              0            0   1106         a
41081          6   1.0      0              0            0   1107         a
41082          6   1.0      0              0            0   1109         c
41083          6   1.0      0              0            0   1111         a
41084          6   1.0      0              0            0   1112         c
41085          6   1.0      0              0            0   1113         a
41086          6   1.0      0              0            0   1114         a
41087          6   1.0      0              1            0   1115         d

      Assortment  CompetitionDistance  CompetitionOpenSinceMonth  \
0              a               1270.0                        9.0
1              a                570.0                       11.0
2              a              14130.0                       12.0
3              c                620.0                        9.0
4              a              29910.0                        4.0
5              a                310.0                       12.0
6              c              24000.0                        4.0
7              a               7520.0                       10.0
8              c               2030.0                        8.0
9              a               3160.0                        9.0
10             c                960.0                       11.0
11             c               1070.0                        NaN
12             a                310.0                        NaN
13             a               1300.0                        3.0
14             c               4110.0                        3.0
15             c               3270.0                        NaN
16             a                 50.0                       12.0
17             c              13840.0                        6.0
18             c               3240.0                        NaN
19             a               2340.0                        5.0
20             c                550.0                       10.0
21             a               1040.0                        NaN
22             a               4060.0                        8.0
23             c               4590.0                        3.0
24             a                430.0                        4.0
25             a               2300.0                        NaN
26             a                 60.0                        1.0
27             a               1200.0                       10.0
28             c               2170.0                        NaN
29             a                 40.0                        2.0
...          ...                  ...                        ...
41058          a               3750.0                       11.0
41059          c                670.0                        NaN
41060          a              16680.0                        NaN
41061          a               2410.0                        NaN
41062          c              11540.0                        NaN
41063          a                190.0                        NaN
41064          a                180.0                       11.0
41065          c               2210.0                       11.0
41066          a               4300.0                        3.0
41067          a               5220.0                        5.0
41068          c               9990.0                        NaN
41069          a                300.0                        7.0
41070          a               2380.0                        3.0
41071          c               1130.0                        NaN
41072          b                720.0                        3.0
41073          c                200.0                        4.0
41074          a                540.0                        NaN
41075          c               4060.0                        9.0
41076          a                850.0                       11.0
41077          c               1340.0                       10.0
41078          a                260.0                        2.0
41079          c                330.0                       11.0
41080          c               5330.0                        9.0
41081          a               1400.0                        6.0
41082          a               3490.0                        4.0
41083          a               1900.0                        6.0
41084          c               1880.0                        4.0
41085          c               9260.0                        NaN
41086          c                870.0                        NaN
41087          c               5350.0                        NaN

       CompetitionOpenSinceYear  Promo2  Promo2SinceWeek  Promo2SinceYear  \
0                        2008.0       0              0.0              0.0
1                        2007.0       1             13.0           2010.0
2                        2006.0       1             14.0           2011.0
3                        2009.0       0              0.0              0.0
4                        2015.0       0              0.0              0.0
5                        2013.0       0              0.0              0.0
6                        2013.0       0              0.0              0.0
7                        2014.0       0              0.0              0.0
8                        2000.0       0              0.0              0.0
9                        2009.0       0              0.0              0.0
10                       2011.0       1              1.0           2012.0
11                          NaN       1             13.0           2010.0
12                          NaN       1             45.0           2009.0
13                       2014.0       1             40.0           2011.0
14                       2010.0       1             14.0           2011.0
15                          NaN       0              0.0              0.0
16                       2005.0       1             26.0           2010.0
17                       2010.0       1             14.0           2012.0
18                          NaN       1             22.0           2011.0
19                       2009.0       1             40.0           2014.0
20                       1999.0       1             45.0           2009.0
21                          NaN       1             22.0           2012.0
22                       2005.0       0              0.0              0.0
23                       2000.0       1             40.0           2011.0
24                       2003.0       0              0.0              0.0
25                          NaN       0              0.0              0.0
26                       2005.0       1              5.0           2011.0
27                       2014.0       1              6.0           2015.0
28                          NaN       0              0.0              0.0
29                       2014.0       1             10.0           2014.0
...                         ...     ...              ...              ...
41058                    2001.0       1             35.0           2010.0
41059                       NaN       1             40.0           2011.0
41060                       NaN       1             37.0           2009.0
41061                       NaN       1             40.0           2014.0
41062                       NaN       1              5.0           2013.0
41063                       NaN       1             13.0           2010.0
41064                    2013.0       1             18.0           2011.0
41065                    2011.0       0              0.0              0.0
41066                    2009.0       1             27.0           2013.0
41067                    2009.0       0              0.0              0.0
41068                       NaN       0              0.0              0.0
41069                    2000.0       1             40.0           2014.0
41070                    2013.0       1             40.0           2014.0
41071                       NaN       1             10.0           2014.0
41072                    2002.0       0              0.0              0.0
41073                    2013.0       1             14.0           2013.0
41074                       NaN       1             14.0           2011.0
41075                    2012.0       0              0.0              0.0
41076                    2012.0       1             40.0           2014.0
41077                    2006.0       1              5.0           2013.0
41078                    2012.0       1             14.0           2011.0
41079                    2008.0       1              5.0           2013.0
41080                    2011.0       1             31.0           2013.0
41081                    2012.0       1             13.0           2010.0
41082                    2011.0       1             22.0           2012.0
41083                    2014.0       1             31.0           2013.0
41084                    2006.0       0              0.0              0.0
41085                       NaN       0              0.0              0.0
41086                       NaN       0              0.0              0.0
41087                       NaN       1             22.0           2012.0

          PromoInterval  Year  Month  Day
0                     0  2015      7   31
1       Jan,Apr,Jul,Oct  2015      7   31
2       Jan,Apr,Jul,Oct  2015      7   31
3                     0  2015      7   31
4                     0  2015      7   31
5                     0  2015      7   31
6                     0  2015      7   31
7                     0  2015      7   31
8                     0  2015      7   31
9                     0  2015      7   31
10      Jan,Apr,Jul,Oct  2015      7   31
11      Jan,Apr,Jul,Oct  2015      7   31
12      Feb,May,Aug,Nov  2015      7   31
13      Jan,Apr,Jul,Oct  2015      7   31
14      Jan,Apr,Jul,Oct  2015      7   31
15                    0  2015      7   31
16      Jan,Apr,Jul,Oct  2015      7   31
17      Jan,Apr,Jul,Oct  2015      7   31
18     Mar,Jun,Sept,Dec  2015      7   31
19      Jan,Apr,Jul,Oct  2015      7   31
20      Jan,Apr,Jul,Oct  2015      7   31
21      Jan,Apr,Jul,Oct  2015      7   31
22                    0  2015      7   31
23      Jan,Apr,Jul,Oct  2015      7   31
24                    0  2015      7   31
25                    0  2015      7   31
26      Jan,Apr,Jul,Oct  2015      7   31
27     Mar,Jun,Sept,Dec  2015      7   31
28                    0  2015      7   31
29     Mar,Jun,Sept,Dec  2015      7   31
...                 ...   ...    ...  ...
41058  Mar,Jun,Sept,Dec  2015      8    1
41059   Jan,Apr,Jul,Oct  2015      8    1
41060   Jan,Apr,Jul,Oct  2015      8    1
41061   Jan,Apr,Jul,Oct  2015      8    1
41062   Feb,May,Aug,Nov  2015      8    1
41063   Jan,Apr,Jul,Oct  2015      8    1
41064   Feb,May,Aug,Nov  2015      8    1
41065                 0  2015      8    1
41066   Jan,Apr,Jul,Oct  2015      8    1
41067                 0  2015      8    1
41068                 0  2015      8    1
41069   Jan,Apr,Jul,Oct  2015      8    1
41070   Jan,Apr,Jul,Oct  2015      8    1
41071  Mar,Jun,Sept,Dec  2015      8    1
41072                 0  2015      8    1
41073   Jan,Apr,Jul,Oct  2015      8    1
41074   Jan,Apr,Jul,Oct  2015      8    1
41075                 0  2015      8    1
41076   Jan,Apr,Jul,Oct  2015      8    1
41077   Feb,May,Aug,Nov  2015      8    1
41078   Jan,Apr,Jul,Oct  2015      8    1
41079   Feb,May,Aug,Nov  2015      8    1
41080   Jan,Apr,Jul,Oct  2015      8    1
41081   Jan,Apr,Jul,Oct  2015      8    1
41082   Jan,Apr,Jul,Oct  2015      8    1
41083   Jan,Apr,Jul,Oct  2015      8    1
41084                 0  2015      8    1
41085                 0  2015      8    1
41086                 0  2015      8    1
41087  Mar,Jun,Sept,Dec  2015      8    1

[1058297 rows x 18 columns]

In [86]:
print (final_data.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1058297 entries, 0 to 41087
Data columns (total 18 columns):
DayOfWeek                    1058297 non-null int64
Open                         1058297 non-null float64
Promo                        1058297 non-null int64
SchoolHoliday                1058297 non-null int64
StateHoliday                 1058297 non-null object
Store                        1058297 non-null int64
StoreType                    1058297 non-null object
Assortment                   1058297 non-null object
CompetitionDistance          1058297 non-null float64
CompetitionOpenSinceMonth    719733 non-null float64
CompetitionOpenSinceYear     719733 non-null float64
Promo2                       1058297 non-null int64
Promo2SinceWeek              1058297 non-null float64
Promo2SinceYear              1058297 non-null float64
PromoInterval                1058297 non-null object
Year                         1058297 non-null int64
Month                        1058297 non-null int64
Day                          1058297 non-null int64
dtypes: float64(6), int64(8), object(4)
memory usage: 153.4+ MB
None

In [87]:
#here we have two approaches to go with either consider competition month and year or not

In [88]:
trains.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1017209 entries, 0 to 1017208
Data columns (total 19 columns):
Store                        1017209 non-null int64
DayOfWeek                    1017209 non-null int64
Customers                    1017209 non-null int64
Open                         1017209 non-null int64
Promo                        1017209 non-null int64
StateHoliday                 1017209 non-null object
SchoolHoliday                1017209 non-null int64
StoreType                    1017209 non-null object
Assortment                   1017209 non-null object
CompetitionDistance          1017209 non-null float64
CompetitionOpenSinceMonth    693861 non-null float64
CompetitionOpenSinceYear     693861 non-null float64
Promo2                       1017209 non-null int64
Promo2SinceWeek              1017209 non-null float64
Promo2SinceYear              1017209 non-null float64
PromoInterval                1017209 non-null object
Year                         1017209 non-null int64
Month                        1017209 non-null int64
Day                          1017209 non-null int64
dtypes: float64(5), int64(10), object(4)
memory usage: 147.5+ MB

In [89]:
#finding about Whether competition is open or not 

final_data['CompOpen']=12*(final_data['Year']-final_data['CompetitionOpenSinceYear'])+(final_data['Month']-final_data['CompetitionOpenSinceMonth'])
trains['CompOpen']=12*(trains['Year']-trains['CompetitionOpenSinceYear'])+(trains['Month']-trains['CompetitionOpenSinceMonth'])
final_data.CompOpen=final_data.CompOpen.apply(lambda x: 1 if x>0 else 0 )
trains.CompOpen=trains.CompOpen.apply(lambda x: 1 if x>0 else 0 )

In [90]:
#breaking of the terms in promo in order to understand the data more closely 

final_data['p1'] = final_data.PromoInterval.apply(lambda x: x[:3] if type(x) == str else 0)
final_data['p2'] = final_data.PromoInterval.apply(lambda x: x[4:7] if type(x) == str else 0)
final_data['p3'] = final_data.PromoInterval.apply(lambda x: x[8:11] if type(x) == str else 0)
final_data['p4'] = final_data.PromoInterval.apply(lambda x: x[12:15] if type(x) == str else 0)
trains['p1'] = trains.PromoInterval.apply(lambda x: x[:3] if type(x) == str else 0)
trains['p2'] = trains.PromoInterval.apply(lambda x: x[4:7] if type(x) == str else 0)
trains['p3'] = trains.PromoInterval.apply(lambda x: x[8:11] if type(x) == str else 0)
trains['p4'] = trains.PromoInterval.apply(lambda x: x[12:15] if type(x) == str else 0)

In [91]:
final_data.p1.value_counts()

0      525263
Jan    306898
Feb    124308
Mar    101828
Name: p1, dtype: int64

In [92]:
#final took out the date of the month of promotions 

final_data['p1']=final_data['p1'].map({'Jan':1,'Feb':2,'Mar':3,0:0})
final_data['p2']=final_data['p2'].map({'Apr':4,'May':5,'Jun':6,0:0})
final_data['p3']=final_data['p3'].map({'Jul':7,'Aug':8,'Sept':9,0:0})
final_data['p4']=final_data['p4'].map({'Oct':10,'Nov':11,'Dec':12,0:0})
trains['p1']=trains['p1'].map({'Jan':1,'Feb':2,'Mar':3,0:0})
trains['p2']=trains['p2'].map({'Apr':4,'May':5,'Jun':6,0:0})
trains['p3']=trains['p3'].map({'Jul':7,'Aug':8,'Sept':9,0:0})
trains['p4']=trains['p4'].map({'Oct':10,'Nov':11,'Dec':12,0:0})
final_data.p1.value_counts()

0    525263
1    306898
2    124308
3    101828
Name: p1, dtype: int64

In [93]:
final_data['PromotionOpen']=(final_data['Promo2SinceWeek']*7)/30+12*(final_data['Year']-final_data['Promo2SinceYear'])
trains['PromotionOpen']=(trains['Promo2SinceWeek']*7)/30+12*(trains['Year']-trains['Promo2SinceYear'])

final_data['PromotionOpen']=final_data['PromotionOpen'].apply(lambda x: 1 if x>0 else 0)
trains['PromotionOpen']=trains['PromotionOpen'].apply(lambda x: 1 if x>0 else 0)

In [94]:
final_data['PromotionOpen'].loc[(final_data['PromotionOpen']==1) & (final_data['p1']==0)]=0
final_data['PromotionOpen'].loc[(final_data['PromotionOpen']==1) & (final_data['p2']==0)]=0
final_data['PromotionOpen'].loc[(final_data['PromotionOpen']==1) & (final_data['p3']==0)]=0
final_data['PromotionOpen'].loc[(final_data['PromotionOpen']==1) & (final_data['p4']==0)]=0

trains['PromotionOpen'].loc[(trains['PromotionOpen']==1) & (trains['p1']==0)]=0
trains['PromotionOpen'].loc[(trains['PromotionOpen']==1) & (trains['p2']==0)]=0
trains['PromotionOpen'].loc[(trains['PromotionOpen']==1) & (trains['p3']==0)]=0
trains['PromotionOpen'].loc[(trains['PromotionOpen']==1) & (trains['p4']==0)]=0

C:\Users\Shikhar\AppData\Local\conda\conda\envs\my_root\lib\site-packages\pandas\core\indexing.py:179: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [95]:
print(trains.PromotionOpen.value_counts())

0    549638
1    467571
Name: PromotionOpen, dtype: int64

In [96]:
# Finally extracted all the information from the COMPETION OPEN AS WELL AS TRAIN CLOSED. So happy :) :) :)

In [97]:
trains.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1017209 entries, 0 to 1017208
Data columns (total 25 columns):
Store                        1017209 non-null int64
DayOfWeek                    1017209 non-null int64
Customers                    1017209 non-null int64
Open                         1017209 non-null int64
Promo                        1017209 non-null int64
StateHoliday                 1017209 non-null object
SchoolHoliday                1017209 non-null int64
StoreType                    1017209 non-null object
Assortment                   1017209 non-null object
CompetitionDistance          1017209 non-null float64
CompetitionOpenSinceMonth    693861 non-null float64
CompetitionOpenSinceYear     693861 non-null float64
Promo2                       1017209 non-null int64
Promo2SinceWeek              1017209 non-null float64
Promo2SinceYear              1017209 non-null float64
PromoInterval                1017209 non-null object
Year                         1017209 non-null int64
Month                        1017209 non-null int64
Day                          1017209 non-null int64
CompOpen                     1017209 non-null int64
p1                           1017209 non-null int64
p2                           1017209 non-null int64
p3                           919749 non-null float64
p4                           919749 non-null float64
PromotionOpen                1017209 non-null int64
dtypes: float64(7), int64(14), object(4)
memory usage: 194.0+ MB

In [98]:
# DONE WITH CLEANING NOW DEALING WITH DATA manipulation

In [99]:
print (trains['StateHoliday'].value_counts())
num=trains.select_dtypes(include=['object'])

0    855087
0    131072
a     20260
b      6690
c      4100
Name: StateHoliday, dtype: int64

In [100]:

final_data.drop(['CompetitionOpenSinceYear','CompetitionOpenSinceMonth','Promo2','Promo2SinceWeek','Promo2SinceYear','PromoInterval','p1','p2','p3','p4'],axis=1,inplace=True)
trains.drop(['CompetitionOpenSinceYear','CompetitionOpenSinceMonth','Promo2','Promo2SinceWeek','Promo2SinceYear','PromoInterval','p1','p2','p3','p4'],axis=1,inplace=True)

In [101]:
print (final_data.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1058297 entries, 0 to 41087
Data columns (total 14 columns):
DayOfWeek              1058297 non-null int64
Open                   1058297 non-null float64
Promo                  1058297 non-null int64
SchoolHoliday          1058297 non-null int64
StateHoliday           1058297 non-null object
Store                  1058297 non-null int64
StoreType              1058297 non-null object
Assortment             1058297 non-null object
CompetitionDistance    1058297 non-null float64
Year                   1058297 non-null int64
Month                  1058297 non-null int64
Day                    1058297 non-null int64
CompOpen               1058297 non-null int64
PromotionOpen          1058297 non-null int64
dtypes: float64(2), int64(9), object(3)
memory usage: 121.1+ MB
None

In [102]:
final_data['Open']=final_data['Open'].astype(np.int64)
final_data['CompetitionDistance']=final_data['CompetitionDistance'].astype(np.int64)

In [103]:

#final_data=pd.get_dummies(data=final_data,columns=['Assortment','StoreType','StateHoliday'])
final_data.StateHoliday=final_data.StateHoliday.map({'0':0,'a':1,'b':2,'c':3})
print (final_data.StateHoliday.value_counts())

0.0    895995
1.0     20440
2.0      6690
3.0      4100
Name: StateHoliday, dtype: int64

In [104]:
final_data=pd.get_dummies(data=final_data,columns=['Assortment','StoreType','StateHoliday'])

In [105]:
print(final_data.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1058297 entries, 0 to 41087
Data columns (total 22 columns):
DayOfWeek              1058297 non-null int64
Open                   1058297 non-null int64
Promo                  1058297 non-null int64
SchoolHoliday          1058297 non-null int64
Store                  1058297 non-null int64
CompetitionDistance    1058297 non-null int64
Year                   1058297 non-null int64
Month                  1058297 non-null int64
Day                    1058297 non-null int64
CompOpen               1058297 non-null int64
PromotionOpen          1058297 non-null int64
Assortment_a           1058297 non-null uint8
Assortment_b           1058297 non-null uint8
Assortment_c           1058297 non-null uint8
StoreType_a            1058297 non-null uint8
StoreType_b            1058297 non-null uint8
StoreType_c            1058297 non-null uint8
StoreType_d            1058297 non-null uint8
StateHoliday_0.0       1058297 non-null uint8
StateHoliday_1.0       1058297 non-null uint8
StateHoliday_2.0       1058297 non-null uint8
StateHoliday_3.0       1058297 non-null uint8
dtypes: int64(11), uint8(11)
memory usage: 108.0 MB
None

In [106]:
#test  41088 
#train 1017209 

train1=final_data[:1017209]
test1=final_data[1017209:]
print (test.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41088 entries, 0 to 41087
Data columns (total 8 columns):
Id               41088 non-null int64
Store            41088 non-null int64
DayOfWeek        41088 non-null int64
Date             41088 non-null object
Open             41088 non-null float64
Promo            41088 non-null int64
StateHoliday     41088 non-null object
SchoolHoliday    41088 non-null int64
dtypes: float64(1), int64(5), object(2)
memory usage: 2.5+ MB
None

In [108]:
from sklearn.linear_model import ElasticNet, Lasso,  BayesianRidge, LassoLarsIC
from sklearn.ensemble import RandomForestRegressor,  GradientBoostingRegressor
from sklearn.kernel_ridge import KernelRidge
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import RobustScaler
from sklearn.base import BaseEstimator, TransformerMixin, RegressorMixin, clone
from sklearn.model_selection import KFold, cross_val_score, train_test_split
from sklearn.metrics import mean_squared_error
import xgboost as xgb
import lightgbm as lgb
    
    
    

n_folds = 5


GBoost = GradientBoostingRegressor(n_estimators=3000, learning_rate=0.05,
                                   max_depth=4, max_features='sqrt',
                                   min_samples_leaf=15, min_samples_split=10, 
                                   loss='huber', random_state =5)

KRR = KernelRidge(alpha=0.6, kernel='polynomial', degree=2, coef0=2.5)
model_lgb = lgb.LGBMRegressor(objective='regression',num_leaves=5,
                              learning_rate=0.05, n_estimators=720,
                              max_bin = 55, bagging_fraction = 0.8,
                              bagging_freq = 5, feature_fraction = 0.2319,
                              feature_fraction_seed=9, bagging_seed=9,
                              min_data_in_leaf =6, min_sum_hessian_in_leaf = 11)
ENet = make_pipeline(RobustScaler(), ElasticNet(alpha=0.0005, l1_ratio=.9, random_state=3))
lasso = make_pipeline(RobustScaler(), Lasso(alpha =0.0005, random_state=1))
model_xgb = xgb.XGBRegressor(colsample_bytree=0.4603, gamma=0.0468, 
                             learning_rate=0.05, max_depth=3, 
                             min_child_weight=1.7817, n_estimators=2200,
                             reg_alpha=0.4640, reg_lambda=0.8571,
                             subsample=0.5213, silent=1,
                               nthread = -1)





def rmsle(y_train, y_pred):
    return np.sqrt(mean_squared_error(y_train, y_pred))



model_xgb.fit(train1, y_train)
xgb_train_pred = model_xgb.predict(train1)
xgb_pred = model_xgb.predict(test1)
print(rmsle(y_train, xgb_train_pred))


model_lgb.fit(train1, y_train)
lgb_train_pred = model_lgb.predict(train1)
lgb_pred = model_lgb.predict(test1.values)
print(rmsle(y_train, lgb_train_pred))


print('RMSLE score on train data:')
print(rmsle(y_train,xgb_train_pred ))



ensemble =  lgb_pred


# In[67]:

print (test.info())
submit=pd.DataFrame()

submit['Id'] = test["Id"]
submit['Sales']=ensemble
submit.to_csv('green2.csv',index=False)

print ('complete')

1580.05522857
2272.98766853
RMSLE score on train data:
1580.05522857
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41088 entries, 0 to 41087
Data columns (total 8 columns):
Id               41088 non-null int64
Store            41088 non-null int64
DayOfWeek        41088 non-null int64
Date             41088 non-null object
Open             41088 non-null float64
Promo            41088 non-null int64
StateHoliday     41088 non-null object
SchoolHoliday    41088 non-null int64
dtypes: float64(1), int64(5), object(2)
memory usage: 2.5+ MB
None
complete

In [109]:
print ('hello')

hello